* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #829191;
    color: #4C5B61;
    line-height: 1.6;
}

nav {
    background-color: #4D6A6D; 
    padding: 15px;
    text-align: center; 
}

nav a {
    margin: 3px;
    color: #C5C5C5;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #C5C5C5;
    color: #4D6A6D;
}


main {
    text-align: center;
    padding: 50px;
}


img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-top: 0;
}


div {
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    text-align: left;
    margin-left: 20px;
}


h1 {
    font-size: 50px;
    font-weight: bold;
    color: #4D6A6D;
}

h3 {
    text-align: justify;
    color: #4C5B61;
    margin-top: 10px;
}

a {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid #4D6A6D;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #4D6A6D;
    color: #C5C5C5;
}

a.active{
    background-color: #829191;
}



