* {
    margin: 0;
    padding: 0;
    text-align: center;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #829191;
    color: #4C5B61;
}


nav {
    background-color: #4D6A6D; 
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 3px;
    color: #C5C5C5;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #C5C5C5;
    color: #4D6A6D;
}


main {
    max-width: 800px;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    color: #4D6A6D;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #4D6A6D;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-bottom: 30px;
    width: 100%;
}


label {
    font-size: 18px;
    color: #4C5B61;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #4D6A6D;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #4D6A6D;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #829191;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    max-width: 100%;
}

a {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid #4D6A6D;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #4D6A6D;
    color: #C5C5C5;
}

a.active{
    background-color: #829191;
}